# Для локальной разработки
FLASK_ENV=development
FLASK_SECRET_KEY=your-secret-key-here
DATABASE_URL=postgresql://localhost:5432/roxin_dev

# Для продакшена эти переменные будут установлены автоматически на Render
# FLASK_ENV=production
# SECRET_KEY=автогенерируется
# DATABASE_URL=автогенерируется 